*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  background: #EEEEEE;
  font-family: 'Inter', 'Roboto', 'Welland', sans-serif;
  margin-top: 1%;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  left: 0;
  top: 0;
  right: 0;
  background-color: #fff;
  padding: 0 1em;
  
}
nav a{
  color: black;
  text-decoration: none; 
}
nav img{
  display: flex;
}

nav ul{
  display: flex;
  list-style: none; 
  margin-top: 3%;
}

nav ul li{
  display: flex;
  margin: 0;
}

.main-container{
  max-width: 100%;
  padding: 1em 2em;
  box-shadow: 10px 10px 5px #00ADB5;
  overflow: auto;
}

video{
  max-width: 100%;
  padding-bottom: 0; 
}

.slideshow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

.slideshow img{
  width: 25%; /* Adjust this value to control the square size */
  height: 0; /* Maintain aspect ratio */
  padding: 10px;
}

.main-container aside, .main-container main{
  float: left;
}

aside{
  width: 35%;
}
aside section{
  background-color: #f4f4f4;
  box-shadow: 3px 4px 7px #00ADB5;
  padding: 5px;
  margin: 0 15px 15px 0;
}

main{
  width:  65%;
}

.imageGroup{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.imageGroup div{
  width: 33.3%;

}
.imageGroup div img{
  width: 100%;
  height: 100%;

}
article h2{
  font-size: 1.2em;
  background-color: #00ADB5f4;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}
article p{
  margin-bottom: .5em;
}
article p a{
  display: block;
  color: #fff;
  background-color: #222831;
  text-align: center;
  padding: 10px;
  text-decoration: none; 
}

footer{
  color: #fff;
  background: #003556;
  padding: 3px;
  text-align: center;
}